EXPO_PUBLIC_APP_NAME=Arrow Escape
EXPO_PUBLIC_APP_SLUG=arrow-escape
EXPO_PUBLIC_APP_VERSION=0.1.0
EXPO_PUBLIC_APP_SCHEME=arrowescape
EXPO_PUBLIC_ENABLE_ANALYTICS=false
EXPO_PUBLIC_ENABLE_HAPTICS=true
EXPO_PUBLIC_ENABLE_SOUND=true